.roster {
    position: absolute;
    bottom: 0px;
}

#splash1 {
     z-index: -100;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-left: 370px;
    height: 25vh;
    width: 25vh;
    background-image: url("./images/inksplat1.png");

}

#splash2 {
     z-index: -100;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 300px;
    margin-left: 430px;
    height: 25vh;
    width: 25vh;
    background-image: url("./images/inksplat2.png")
}

#splash3 {
     z-index: -100;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 250px;
    margin-left: 470px;
    height: 45vh;
    width: 65vh;
    background-image: url("./images/inksplat3.png")
}

.playerIcon {
    height: 10vh;
    width: auto;
    opacity: 0;
    animation-iteration-count: 1;
    -webkit-animation: playerIcon 1s;
    -moz-animation: playerIcon 1s;
    animation: playerIcon 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes playerIcon {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes playerIcon {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes playerIcon {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.playerPicture {
    z-index:-10;
    opacity: 0;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 50vw;
    position: absolute;
}

.playerName {
    top: -100vw;
    height: 100vh;
    width: 14vw;
    float: right;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.playerName2 {
    top: 90vh;
    right:-100vw;
    height: 10vh;
    width: 30vw;
    float: right;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.wholeScreen {
    z-index: -100;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    filter: contrast(180%);
    background-image: url("./images/Stroke.png");
    background-repeat: repeat-y;
    -webkit-animation: bgStroke 1s ease;
    animation: bgStroke 1s ease;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

@-webkit-keyframes bgStroke {
    0% {
        height: 0vh;
    }
    100% {
        height: 100vh;
    }
}

@-moz-keyframes bgStroke {
    0% {
        height: 0vh;
    }
    100% {
        height: 100vh;
    }
}

@keyframes bgStroke {
    0% {
        height: 0vh;
    }
    100% {
        height: 100vh;
    }
}

body {
    margin: 0px;
}


/*




#lineInfo {
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    -moz-transform: skew(-45deg, 0deg);
    -webkit-transform: skew(-45deg, 0deg);
    transform: skew(-45deg, 0deg);
}


#hoverTarget {
    border-style: dotted;
    border-color: transparent;
    border-radius: 100%;
    z-index: 10;
    position: absolute;
}

#text {
    display: inline-block;
    color: black;
    -moz-transform: skew(45deg, 0deg);
    -webkit-transform: skew(45deg, 0deg);
    transform: skew(45deg, 0deg);
}

.hoverOver {
    border-color: transparent;
    -webkit-animation: borderDraw 1.5s;
    -moz-animation: borderDraw 1.5s;
    animation: borderDraw 1.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}


.hoverOver:hover + div {
    display: inline;
}

.hoverOver:hover {
    -webkit-animation: borderDraw 1.5s;
    -moz-animation: borderDraw 1.5s;
    animation: borderDraw 1.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}



*/
