/*-------------------- 700 and up -------------------*/

@media screen and (min-width: 701px) {
    #splash1 {
        opacity: 0;
        animation-iteration-count: 1;
        -webkit-animation: splash .1s;
        -moz-animation: splash .1s;
        animation: splash 1s;
        -webkit-animation-delay: .21s;
        -moz-animation-delay: .21s;
        animation-delay: .21s;
        -webkit-transition: opacity 1s ease-in;
        -moz-transition: opacity 1s ease-in;
        transition: opacity 1s ease-in;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -10px;
        margin-left: 270px;
        height: 250px;
        width: 250px;
        background-image: url("./images/inksplat1.png");
    }
    #splash2 {
        opacity: 0;
        animation-iteration-count: 1;
        -webkit-animation: splash .1s;
        -moz-animation: splash .1s;
        animation: splash 1s;
        -webkit-animation-delay: .1s;
        -moz-animation-delay: .1s;
        animation-delay: .41s;
        -webkit-transition: opacity 1s ease-in;
        -moz-transition: opacity 1s ease-in;
        transition: opacity 1s ease-in;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        z-index: -100;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 200px;
        margin-left: 380px;
        height: 250px;
        width: 250px;
        background-image: url("./images/inksplat2.png")
    }
    #splash3 {
        opacity: 0;
        animation-iteration-count: 1;
        -webkit-animation: splash .1s;
        -moz-animation: splash .1s;
        animation: splash 1s;
        -webkit-animation-delay: .1s;
        -moz-animation-delay: .1s;
        animation-delay: .61s;
        -webkit-transition: opacity 1s ease-in;
        -moz-transition: opacity 1s ease-in;
        transition: opacity 1s ease-in;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        z-index: -100;
        position: absolute;
        background-size: auto 80%;
        background-repeat: no-repeat;
        margin-top: 420px;
        margin-left: 600px;
        height: 280px;
        width: 630px;
        background-image: url("./images/inksplat3.png");
    }
    @-webkit-keyframes splash {
        1% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        99% {
            opacity: 0;
        }
    }
    @-moz-keyframes splash {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes splash {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    .playerPicture {
        overflow-x: visible;
        margin-left: 40px;
        margin-top: 40px;
        float: right;
        opacity: 0;
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 600px;
        height: 90vh;
        width: 55vw;
        min-width: 500px;
        position: absolute;
    }
}


/*-------------------- 700 and down -------------------*/

@media screen and (max-width: 600px) {
    .armInfo,
    .headInfo,
    .bodyInfo {
        border-color: transparent!important;
        display: none !important;
    }
    #lineInfo {
        border-width: 0px;
        position: absolute;
        z-index: -20;
        border-width: 0px;
        border-bottom: solid transparent !important;
        border-right: solid transparent !important;
        -moz-transform: skew(-45deg, 0deg);
        -webkit-transform: skew(-45deg, 0deg);
        transform: skew(-45deg, 0deg);
    }
    .upLineInfo {
        border-width: 0px;
        position: relative;
        z-index: -20;
        border-width: 0px;
        border-top: solid transparent!important;
        border-right: solid transparent!important;
        -moz-transform: skew(0deg, 0deg);
        -webkit-transform: skew(0deg, 0deg);
        transform: skew( 0deg, 0deg);
    }
    .textBox {
        -moz-transform: skew(0deg, 0deg) scale(0.8, 0.8)!important;
        -webkit-transform: skew(0deg, 0deg) scale(0.8, 0.8)!important;
        transform: skew(0deg, 0deg) scale(0.8, 0.8)!important;
        width: 33vw !important;
        border-color: transparent !important;
        position: relative!important;
        float: right !important;
        display: inline-block !important;
        z-index: 1000000 !important;
        overflow: none;
    }
    .headTextBox {
        -moz-transform: skew(0deg, 0deg) scale(0.8, 0.8)!important;
        -webkit-transform: skew(0deg, 0deg) scale(0.8, 0.8)!important;
        transform: skew(0deg, 0deg) scale(0.8, 0.8)!important;
        top: 25vh !important;
        left: 115vw !important;
        display: inline-block !important;
    }
    .bodyTextBox {
        -moz-transform: skew(0deg, 0deg) scale(0.8, 0.8)!important;
        -webkit-transform: skew(0deg, 0deg) scale(0.8, 0.8)!important;
        transform: skew(0deg, 0deg) scale(0.8, 0.8)!important;
        overflow: none;
        display: inline-block !important;
        top: 52vh !important;
        right: 20vw !important;
    }
    .armTextBox {
        -moz-transform: skew(0deg, 0deg) scale(0.8, 0.8)!important;
        -webkit-transform: skew(0deg, 0deg) scale(0.8, 0.8)!important;
        transform: skew(0deg, 0deg) scale(0.8, 0.8)!important;
        display: inline-block !important;
        top: 80vh;
        left: 215vw !important;
    }
    .playerPicture {
        z-index: 0!important;
        float: left;
        top: 0 !important;
        margin-top: : 0px !important;
        opacity: 0;
        background-position: 30px 50px !important;
        background-size: contain !important;
        background-repeat: no-repeat;
        height: 100vh !important;
        width: 100vw !important;
        position: absolute;
        left: 0 !important;
    }
    .wholeScreen {
        overflow: none;
        z-index: -100;
        position: absolute;
        top: 0;
        filter: contrast(20%);
        background-image: url("./images/Stroke.png");
        background-repeat: cover;
        height: 100vh !important;
        width: 100vw !important;
        background-position: -560px 0px;
    }
    @-webkit-keyframes bgStroke {
        0% {
            height: 0vh;
        }
        100% {
            height: 150vh;
        }
    }
    @-moz-keyframes bgStroke {
        0% {
            height: 0vh;
        }
        100% {
            height: 150vh;
        }
    }
    @keyframes bgStroke {
        0% {
            height: 0vh;
        }
        100% {
            height: 150vh;
        }
    }
    .armInfo,
    .headInfo,
    .bodyInfo {
        display: none !important;
    }
    .playerName {
        display: inline-block !important;
        z-index: -100;
        top: 0vw;
        height: 100vh;
        width: 14vw;
        float: right;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
    }
    .playerName2 {
        overflow: inline-block;
        display: none;
        top: 80vh;
        left: 0vw !important;
        top: 0vh !important;
        width: 35vw;
        float: right;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
    }
}


/*-------------------- EVERYTHING ELSE -------------------*/

.playerIcon {
    cursor: pointer;
    height: 10vh;
    width: auto;
    opacity: 0;
    animation-iteration-count: 1;
    -webkit-animation: playerIcon 1s;
    -moz-animation: playerIcon 1s;
    animation: playerIcon 1s;
    -webkit-animation-delay: 2.7s;
    -moz-animation-delay: 2.7s;
    animation-delay: 2.7s;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes playerIcon {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes playerIcon {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes playerIcon {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.armInfo,
.headInfo,
.bodyInfo {
    height: 100px;
    width: 100px;
    border-width: 10px;
    display: inline-block;
    border-style: dotted;
    border-color: transparent;
    border-radius: 100%;
    z-index: 10;
    position: absolute;
    border-color": "red"

}

.playerName {
    
    z-index: -100;
    top: -100vw;
    height: 100vh;
    width: 14vw;
    float: right;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.playerName2 {
    overflow: none;
    display: none;
    top: 80vh;
    right: -100vw;
    height: 18vh;
    width: 35vw;
    float: right;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.wholeScreen {
    z-index: -100;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    filter: contrast(120%);
    background-image: url("./images/Stroke.png");
    background-repeat: repeat-y;
    -webkit-animation: bgStroke 2s ease;
    animation: bgStroke 2s ease;
    -webkit-animation-delay: 1.0s;
    -moz-animation-delay: 1.0s;
    animation-delay: 1.0s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

@-webkit-keyframes bgStroke {
    0% {
        height: 0vh;
    }
    100% {
        height: 100vh;
    }
}

@-moz-keyframes bgStroke {
    0% {
        height: 0vh;
    }
    100% {
        height: 100vh;
    }
}

@keyframes bgStroke {
    0% {
        height: 0vh;
    }
    100% {
        height: 100vh;
    }
}

body {
    margin: 0px;
}

#lineInfo {
    display:none;
    position: absolute;
    z-index: -20;
    border-width: 0px;
    border-bottom: solid red;
    border-right: solid red;
    -moz-transform: skew(-45deg, 0deg);
    -webkit-transform: skew(-45deg, 0deg);
    transform: skew(-45deg, 0deg);
}

.upLineInfo {
    display:none;
    position: absolute;
    z-index: -20;
    border-width: 0px;
    border-top: solid red;
    border-right: solid red;
    -moz-transform: skew(45deg, 0deg);
    -webkit-transform: skew(45deg, 0deg);
    transform: skew( 45deg, 0deg);
}

.textBox {
    margin-left: -10px;
    display: none;
    position: relative;
    float: left;
    border-bottom: 2px solid red;
    border-right: 2px solid red;
}

.text {
    display: inline-block;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    -moz-transform: skew(45deg, 0deg);
    -webkit-transform: skew(45deg, 0deg);
    transform: skew(45deg, 0deg);
}

.upText {
    display: inline-block;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    -moz-transform: skew(-45deg, 0deg);
    -webkit-transform: skew(-45deg, 0deg);
    transform: skew(-45deg, 0deg);
}

.hoverOver {
    border-color: transparent;
    -webkit-animation: borderDraw 1.5s;
    -moz-animation: borderDraw 1.5s;
    animation: borderDraw 1.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.hoverOver:hover + div {
    display: inline;
}

.hoverOver:hover {
    -webkit-animation: borderDraw 1.5s;
    -moz-animation: borderDraw 1.5s;
    animation: borderDraw 1.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes borderDraw {
    0% {
        border-top-color: red;
        transition: width 1s ease-in-out;
        transform: rotate(90deg);
    }
    25% {
        border-top-color: red;
        transition: width 1s ease-in-out;
        transform: rotate(180deg);
    }
    50% {
        border-left-color: red;
        transition: height 1s ease-in-out;
        transform: rotate(270deg);
    }
    75% {
        border-bottom-color: red;
        transition: width 1s ease-in-out;
        transform: rotate(360deg);
    }
    99% {
        border-right-color: red;
        transition: width 1s ease-in-out;
        transform: rotate(0deg);
    }
}

.roster {
    position: absolute;
    bottom: 0;
}

#seal {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 45vh;
    margin-left: 0px;
    height: 50px;
    width: 50px;
    background-image: url("./images/NYGseal.png");
}

#seal a {
    height: 50px;
    width: 50px;
}
